{
  "openapi": "3.0.1",
  "info": {
    "description": "Use our pricing APIs in your applications to calculate prices based on data maintained in SAP ERP or S/4HANA.",
    "title": "Pricing service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://sandbox.api.sap.com/cpservices/pricing"
    },
    {
      "url": "https://{appname}.cfapps.{region}.hana.ondemand.com",
      "description": "Pricing service REST endpoints",
      "variables": {
        "appname": {
          "default": "cpservices-pricing",
          "description": "The application name used while deploying the application on the SAP Business Technology Platform."
        },
        "region": {
          "enum": [
            "ap11",
            "ap20",
            "ap30",
            "eu10",
            "eu11",
            "eu20",
            "eu30",
            "us10",
            "us30",
            "in30"
          ],
          "default": "eu10",
          "description": "The region chosen while deploying the application on the SAP Business Technology Platform."
        },
        "identityzone": {
          "default": "tenant",
          "description": "The sub-account name from the service key."
        }
      }
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "x-sap-shortText": "Calculate prices for configurable and non-configurable products.",
  "externalDocs": {
    "description": "Development Guide",
    "url": "https://help.sap.com/viewer/f2b349b522ff40f0918e1e7ada320799/Cloud/en-US/efd38a5159694579b79a9e0431856e13.html"
  },
  "tags": [
    {
      "description": "Customizing APIs to inspect pricing procedure settings.",
      "name": "Customizing"
    },
    {
      "description": "Pricing document APIs provide advanced pricing capabilities compared to the stateless API. Here: collection of all operations on the document header level.",
      "name": "Documents"
    },
    {
      "description": "Pricing item APIs provide advanced pricing capabilities compared to the stateless API. Here: collection of all operations on the document item level.",
      "name": "Document Items"
    },
    {
      "description": "Currency Conversion API provides details of currencies and conversion rates as maintained in the SAP back-end system.",
      "name": "Currency Conversion"
    },
    {
      "description": "Price agreements APIs provide capabilities of providing condition record details from outside. During price calculation, the pricing service incorporates price agreements. Price agreements are not created as condition records in backend by pricing service.",
      "name": "Price Agreements"
    },
    {
      "description": "Pricing procedure API provides a list of pricing attributes and other data that a caller must provide for successful price calculation.",
      "name": "Pricing Procedures"
    },
    {
      "description": "Stateless pricing API provides standalone pricing. Price calculations depend on conditions, which are maintained in the SAP back-end system.",
      "name": "Stateless Pricing"
    },
    {
      "description": "Provides different operations on HTTP session.",
      "name": "Sessions"
    },
    {
      "description": "Management of [Local Extensions](https://help.sap.com/docs/variant-configuration-and-pricing/extension-guide-for-sap-variant-configuration-and-pricing).",
      "name": "Local Extensions"
    }
  ],
  "paths": {
    "/api/localExtension/v1/functions": {
      "get": {
        "description": "This API allows the retrieval of a list of functions provided by the currently active local extensions. A token with dedicated scope is required to successfully access this API. For more details, please refer to the [Development Guide for SAP Variant Configuration and Pricing](https://help.sap.com/docs/variant-configuration-and-pricing/development-guide-for-sap-variant-configuration-and-pricing).",
        "operationId": "getLocalExtensions",
        "parameters": [
          {
            "description": "A flag that indicates whether to count the extensions or not",
            "in": "query",
            "name": "$count",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Pricing Service Functions": {
                    "description": "List of [functions](https://help.sap.com/docs/variant-configuration-and-pricing/extension-guide-for-sap-variant-configuration-and-pricing/function-names) provided by the Local Extensions of the Pricing Service",
                    "value": {
                      "count": 3,
                      "value": [
                        {
                          "id": "val_990_process_formula",
                          "executable": false,
                          "caching": false
                        },
                        {
                          "id": "val_990_collect_attributes",
                          "executable": false,
                          "caching": false
                        },
                        {
                          "id": "VAL_990",
                          "executable": true,
                          "caching": true
                        }
                      ]
                    }
                  },
                  "Variant Configuration Service Functions": {
                    "description": "List of [functions](https://help.sap.com/docs/variant-configuration-and-pricing/extension-guide-for-sap-variant-configuration-and-pricing/function-names) provided by the Local Extensions of the Variant Configuration Service",
                    "value": {
                      "count": 2,
                      "value": [
                        {
                          "id": "VALIDATE_INPUT",
                          "executable": false,
                          "caching": false
                        },
                        {
                          "id": "ZCPS_VF_BONUS_POINTS",
                          "executable": true,
                          "caching": false
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/localExtension.FunctionCollection"
                }
              }
            },
            "description": "List of local extension functions is successfully retrieved."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to retrieve a list of local extension functions."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred, that prevented the retrieval of a list of local extension functions."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get list of local extension functions",
        "tags": [
          "Local Extensions"
        ]
      }
    },
    "/api/localExtension/v1/functions/{functionId}": {
      "post": {
        "description": "This API allows the execution of functions deployed as Local Extensions. A token with dedicated scope is required to successfully access this API. For more details, please refer to the [Development Guide for SAP Variant Configuration and Pricing](https://help.sap.com/docs/variant-configuration-and-pricing/development-guide-for-sap-variant-configuration-and-pricing).",
        "operationId": "callLocalExtension",
        "parameters": [
          {
            "description": "Id of a function as returned by the Get list of local extension functions operation",
            "examples": {
              "functionId - Pricing service": {
                "description": "Example for Pricing service extension",
                "value": "VAL_990"
              },
              "functionId - Variant Configuration service": {
                "description": "Example for Configuration service extension",
                "value": "ZCPS_VF_BONUS_POINTS"
              }
            },
            "in": "path",
            "name": "functionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Setting the value EXTENSIONS for the header x-cps-trace in a request activates the extension trace for this request. The extension trace must be set to 'On Request' in the Administration UI. See https://help.sap.com/docs/variant-configuration-and-pricing/administration-guide-for-sap-variant-configuration-and-pricing/trace-for-configuration-service for more details.",
            "in": "header",
            "name": "x-cps-trace",
            "schema": {
              "type": "string",
              "example": "EXTENSIONS"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ext.input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Pricing response": {
                    "description": "Data returned by a [value formula](https://help.sap.com/docs/variant-configuration-and-pricing/extension-guide-for-sap-variant-configuration-and-pricing/local-extension?locale=en-US#pricing-extensions) implemented as Local Extensions and deployed to the Pricing Service",
                    "value": {
                      "result": null,
                      "message": null,
                      "item": null,
                      "condition": {
                        "statistical": null,
                        "inactiveFlag": "X",
                        "conditionRate": null
                      },
                      "extendedInput": null
                    }
                  },
                  "Variant Configuration response": {
                    "description": "Data returned by a [variant function](https://help.sap.com/docs/variant-configuration-and-pricing/extension-guide-for-sap-variant-configuration-and-pricing/local-extension?locale=en-US#variant-function) implemented as the Local Extensions and deployed to the Variant Configuration Service",
                    "value": {
                      "type": "vfun",
                      "vfunOutput": {
                        "result": true,
                        "fnArgs": [
                          {
                            "id": "CPS_BONUS_POINTS",
                            "type": "float",
                            "values": [
                              "1000"
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ext.PricingOutput"
                }
              }
            },
            "description": "Local extension function successfully executed."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to execute a local extension functions."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred, that prevented the execution of local extension functions."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Execute a local extension function",
        "tags": [
          "Local Extensions"
        ]
      }
    },
    "/api/v1/currencyConversion/currencies": {
      "get": {
        "description": "Retrieve a list of currencies from the TCURC table. It supports filtering based on currency codes in either ISO format (unit) or SAP internal format (internalUnit). If no filter is applied, the API returns all available currencies.",
        "operationId": "getCurrencies",
        "parameters": [
          {
            "description": "The $filter parameter allows you to limit the currencies returned by specifying them in either ISO format (unit) or SAP internal format (internalUnit). If no filter is provided, the API returns all available currencies.For example, You can filter by ISO code using $filter=unit IN ('EUR','USD','INR'). Alternatively, you can filter by SAP internal format using $filter=internalUnit IN ('EUR3', 'AUD3'). However, it is important to note that filtering can be applied either by unit (ISO code) or by internalUnit (SAP internal format), but not both in the same request. ",
            "example": "unit IN ('EUR', 'USD', 'INR')",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If the Accept-Language header parameter is not provided or the provided language is not supported, language-dependent values will be returned in English if they are maintained. The supported languages are maintained in the customizing of the related backend system. Only the first element of a list of languages is considered. Languages can be specified in ISO format, with or without country code and/or script, or via the SAP language code (column LAISO in table T002). For example: you can specify the language portuguese from Portugal via the values pt-PT (ISO format) or 1P (LAISO). The mapping between ISO and LAISO is given by table T002X.",
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cnv.CurrencyDetailsResponse"
                }
              }
            },
            "description": "Currencies successfully retrieved."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception that prevented the pricing documents retrieval occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get Currencies",
        "tags": [
          "Currency Conversion"
        ]
      }
    },
    "/api/v1/currencyConversion/currencies/{fromCurrencyUnit}/convert/{toCurrencyUnit}": {
      "post": {
        "description": "Provides the conversion rate for <i>fromCurrencyUnit</i> to <i>toCurrencyUnit</i> for the provided exchange rate details. If the 'fromCurrencyValue' is also provided, it will return the converted value in 'toCurrencyUnit'.",
        "operationId": "convert",
        "parameters": [
          {
            "description": "Source currency code in ISO format",
            "example": "EUR",
            "in": "path",
            "name": "fromCurrencyUnit",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Target currency code in ISO format",
            "example": "USD",
            "in": "path",
            "name": "toCurrencyUnit",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cnv.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cnv.CurrencyConversionResponse"
                }
              }
            },
            "description": "Currency conversion successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has incorrect syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred during creation of pricing document."
          }
        },
        "summary": "Provides the conversion rate for the given currencies",
        "tags": [
          "Currency Conversion"
        ]
      }
    },
    "/api/v1/customizing/accesssequences/{accessSequenceId}": {
      "get": {
        "description": "Retrieves details of an access sequence, such as a condition table, a used requirement formula, etc. for  a given access sequence which is defined in the SAP backend. A token with dedicated scope is required to successfully access this API. More details about the scope can be found in the development guide.",
        "operationId": "getAccessDetails",
        "parameters": [
          {
            "description": "Access sequence identifier",
            "example": "PR00",
            "in": "path",
            "name": "accessSequenceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Desired language for returned access sequence name. If the accept-language header parameter is not provided or the provided language is not supported, the name will be returned in English if they are maintained. The supported languages are maintained in the back-end system. Languages can be specified in ISO format, with or without country code and/or script, or via the SAP language code (column LAISO in table T002). For example: you can specify the language portuguese from Portugal via the values pt-PT (ISO format) or 1P (LAISO). The mapping between ISO and LAISO is given by table T002X. \n\nDefault value: en",
            "example": "en",
            "in": "header",
            "name": "accept-language",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cust.AccessSequenceDetails"
                }
              }
            },
            "description": "Access sequence details successfully retrieved."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Access sequence does not exist."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get access sequence details",
        "tags": [
          "Customizing"
        ]
      }
    },
    "/api/v1/customizing/conditiontypes/{conditionTypeId}": {
      "get": {
        "description": "Retrieves the details of a condition type. A token with dedicated scope is required to successfully access this API. More details about the scope can be found in development guide.",
        "operationId": "getConditionType",
        "parameters": [
          {
            "description": "Condition type identifier",
            "example": "0PR0",
            "in": "path",
            "name": "conditionTypeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Desired language for returned condition type name. If the accept-language header parameter is not provided or the provided language is not supported, the name will be returned in English if they are maintained. The supported languages are maintained in the back-end system. Languages can be specified in ISO format, with or without country code and/or script, or via the SAP language code (column LAISO in table T002). For example: you can specify the language portuguese from Portugal via the values pt-PT (ISO format) or 1P (LAISO). The mapping between ISO and LAISO is given by table T002X. \n\nDefault value: en ",
            "example": "en",
            "in": "header",
            "name": "accept-language",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cust.ConditionTypeDetails"
                }
              }
            },
            "description": "Condition type details successfully retrieved."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The condition type does not exist."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get condition type details",
        "tags": [
          "Customizing"
        ]
      }
    },
    "/api/v1/customizing/procedures": {
      "get": {
        "description": "Retrieves the customizing entries to determine the pricing procedure for different transactions as maintained in the backend. Filtering by sales organization and replication status possible. A token with dedicated scope is required to successfully access this API. More details about the scope can be found in development guide.",
        "operationId": "getPricingProcedures",
        "parameters": [
          {
            "description": "Returns only pricing procedures that are relevant for a certain sales organization. Please, provide the sales organization id as maintained in the back-end customizing for the pricing procedure determination.",
            "example": 1000,
            "in": "query",
            "name": "salesOrganization",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "description": "If set to true, returns only those pricing procedures which are marked for replication in Admin UI",
            "in": "query",
            "name": "replicated",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Desired language for returned pricing procedure name. If the accept-language header parameter is not provided or the provided language is not supported, the names will be returned in English if they are maintained. The supported languages are maintained in the back-end system. Languages can be specified in ISO format, with or without country code and/or script, or via the SAP language code (column LAISO in table T002). For example: you can specify the language portuguese from Portugal via the values pt-PT (ISO format) or 1P (LAISO). The mapping between ISO and LAISO is given by table T002X. \n\nDefault value: en",
            "example": "en",
            "in": "header",
            "name": "accept-language",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/cust.ProcedureDeterminationCustomization"
                  }
                }
              }
            },
            "description": "Pricing procedure descriptions successfully retrieved."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Pricing procedure not found."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get pricing procedures",
        "tags": [
          "Customizing"
        ]
      }
    },
    "/api/v1/customizing/procedures/{pricingProcedureId}": {
      "get": {
        "description": "Retrieves details of pricing steps like condition type, formula used, or whether it is a mandatory step for each step of a given pricing procedure which is defined in the SAP back end. A token with dedicated scope is required to successfully access this API. More details about the scope can be found in development guide.",
        "operationId": "getPricingSteps",
        "parameters": [
          {
            "description": "Pricing procedure identifier \n\n For example: RVAA01",
            "example": "ZPRC03",
            "in": "path",
            "name": "pricingProcedureId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The response can be expanded by specifying $expand=conditionTypeDetails, conditionTypeDetails-subProcedures-pricingSteps (case sensitive). <br><br> conditionTypeDetails - will add a full set of details for all condition types <br><br> If a pricing procedure contains a condition type of type inclusion point, then conditionTypeDetails-subProcedures-pricingSteps will expand its subProcedures node in the way that not only the list of all possible sub-procedures is listed, but also the pricing step details for each sub-procedure. <br><br> 'conditionTypeDetails' is a pre-requisite for further sub-procedure specific details. $expand=conditionTypeDetails-subProcedures-pricingSteps would not return sub-procedure specific details if not used in combination with 'conditionTypeDetails'. If the parameter $expand is omitted, the basic data of the procedure and the pricing steps are retrieved. <br><br> It is also possible to get the condition type details individually via GET /api/v1/customizing/conditiontypes/{conditionTypeId}.",
            "example": "conditionTypeDetails, conditionTypeDetails-subProcedures-pricingSteps",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Desired language for returned pricing procedure and condition type names. If the accept-language header parameter is not provided or the provided language is not supported, names will be returned in English if they are maintained. The supported languages are maintained in the back-end system. Languages can be specified in ISO format, with or without country code and/or script, or via the SAP language code (column LAISO in table T002). For example: you can specify the language portuguese from Portugal via the values pt-PT (ISO format) or 1P (LAISO). The mapping between ISO and LAISO is given by table T002X. \n\nDefault value: en",
            "example": "en",
            "in": "header",
            "name": "accept-language",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/cust.PricingProcedureDetails"
                  }
                }
              }
            },
            "description": "Pricing procedure step details successfully retrieved."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Pricing procedure does not exist."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get pricing procedure step details",
        "tags": [
          "Customizing"
        ]
      }
    },
    "/api/v1/customizing/procedures/{pricingProcedureId}/listView": {
      "get": {
        "description": "Retrieves details of pricing steps like condition type, formula used, or whether it is a mandatory step for each step of a given pricing procedure which is defined in the SAP back end. If a pricing procedure contains a condition type of type inclusion point, then details of pricing steps of sub-procedures along with list of sub-procedures in which the condition is present will be included in flat structure.A token with dedicated scope is required to successfully access this API. More details about the scope can be found in development guide.",
        "operationId": "getPricingStepsFlat",
        "parameters": [
          {
            "description": "Pricing procedure identifier \n\n For example: RVAA01",
            "example": "ZPRC03",
            "in": "path",
            "name": "pricingProcedureId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "You can expand the response by specifying $expand=conditionTypeDetails (case sensitive). This will add a full set of details for all condition types. It is also possible to get them individually via GET /api/v1/customizing/conditiontypes/{conditionTypeId}.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Desired language for returned pricing procedure and condition type names. If the accept-language header parameter is not provided or the provided language is not supported, names will be returned in English if they are maintained. The supported languages are maintained in the back-end system. Languages can be specified in ISO format, with or without country code and/or script, or via the SAP language code (column LAISO in table T002). For example: you can specify the language portuguese from Portugal via the values pt-PT (ISO format) or 1P (LAISO). The mapping between ISO and LAISO is given by table T002X. \n\nDefault value: en",
            "example": "en",
            "in": "header",
            "name": "accept-language",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/cust.PricingProcedureDetails"
                  }
                }
              }
            },
            "description": "Pricing procedure step details successfully retrieved."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Pricing procedure does not exist."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get pricing procedure step details in flat structure",
        "tags": [
          "Customizing"
        ]
      }
    },
    "/api/v1/customizing/subProcedureDeterminationFormulas/{subProcedureDeterminationFormulaId}": {
      "get": {
        "description": "Retrieves the details of a sub procedure determination formula which includes the rows in a sub procedure determination formula and the parameters along with their priority",
        "operationId": "getDecisionTable",
        "parameters": [
          {
            "description": "Sub procedure determination formula",
            "example": "CPS_TEST",
            "in": "path",
            "name": "subProcedureDeterminationFormulaId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cust.SubProcedureDeterminationFormulaDetails"
                }
              }
            },
            "description": "Sub procedure determination formula details successfully retrieved."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The condition type does not exist."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get sub procedure determination formula details",
        "tags": [
          "Customizing"
        ]
      }
    },
    "/api/v1/pricing/documents": {
      "get": {
        "description": "Retrieves header information of previously created pricing documents. They are sorted by the date of their creation in ascending order.",
        "operationId": "getStoredPricingDocuments",
        "parameters": [
          {
            "description": "When true, the response includes an attribute 'count' inline, containing the number of stored pricing documents after applying the filter operation. The default setting is false.",
            "in": "query",
            "name": "$count",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Reduces the search results by the given filter.<table border=\"solid\"> <th>Supported filter attributes</th> <th>Supported operators</th> <th>Supported values</th> <tr><td style=\"text-align: center; vertical-align: middle;\">sourceApplication</td><td style=\"text-align: center; vertical-align: middle;\">EQ or eq</td><td style=\"text-align: center; vertical-align: middle;\">Any alphanumeric value</td></tr> <tr><td style=\"text-align: center; vertical-align: middle;\">sourceType</td><td style=\"text-align: center; vertical-align: middle;\">EQ or eq</td><td style=\"text-align: center; vertical-align: middle;\">quote_item, cart_item, order_item,product, favorite, quote, cart, order</td></tr> <tr><td style=\"text-align: center; vertical-align: middle;\">sourceId</td><td style=\"text-align: center; vertical-align: middle;\">EQ or eq</td><td style=\"text-align: center; vertical-align: middle;\">Any alphanumeric value</td></tr> <tr><td style=\"text-align: center; vertical-align: middle;\">locked</td><td style=\"text-align: center; vertical-align: middle;\">EQ or eq</td><td style=\"text-align: center; vertical-align: middle;\">true or false</td></tr></table><br><br>Filters can be combined with the AND operator. Each clause must appear at most once. The combined filter must be enclosed in parentheses. Note that if any one of the source attributes is null, then the other source attributes are implicitly treated null: (sourceType EQ 'cart' AND sourceId EQ null) is not a valid filter.<br>Here are some examples:<br /><table border=\"solid\"><tr><td style=\"text-align: center; vertical-align: middle;\">Single filter</td><td style=\"text-align: center; vertical-align: middle;\">sourceApplication EQ 'cpq'</td></tr><tr><td style=\"text-align: center; vertical-align: middle;\">Combined filter</td><td style=\"text-align: center; vertical-align: middle;\">(sourceApplication EQ 'cpq' AND sourceType EQ 'quote_item' AND sourceId EQ '10' AND locked EQ true)</td></tr><tr><td style=\"text-align: center; vertical-align: middle;\">To retrieve locked pricing documents</td><td style=\"text-align: center; vertical-align: middle;\">locked EQ true</td></tr><tr><td style=\"text-align: center; vertical-align: middle;\">To retrieve stored pricing documents without source</td><td style=\"text-align: center; vertical-align: middle;\">sourceApplication EQ NULL</td></tr><tr><td style=\"text-align: center; vertical-align: middle;\">To retrieve stored pricing documents that are not locked and do not have source</td><td style=\"text-align: center; vertical-align: middle;\">(locked eq false AND sourceApplication eq NULL)</td></tr></table><br />",
            "example": "(sourceApplication EQ 'cpq' AND sourceType EQ 'quote_item' AND sourceId EQ '10')",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies the maximum number of pricing documents to be returned in a single API call. By default, 5000 rows are returned. You can specify up to maximum 10000 rows using the $top parameter, but any value greater than 10000 will be ignored and the maximum value of 10000 will be used instead. The $top parameter is often paired with the $skip parameter to navigate through pages",
            "example": 5000,
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "description": "Specifies the number of pricing documents to skip. By default, no rows are skipped. Any value greater than or equal to the 'count' will skip all the rows. The 'count' represents the number of pricing documents.",
            "example": 0,
            "in": "query",
            "name": "$skip",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/doc.PricingDocumentHeaderResponse"
                }
              }
            },
            "description": "Stored pricing documents are successfully retrieved."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception that prevented the pricing documents retrieval occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get stored pricing documents",
        "tags": [
          "Documents"
        ]
      },
      "post": {
        "description": "Creates a pricing document for the provided input.",
        "operationId": "createDocument",
        "parameters": [
          {
            "description": "Set this parameter to control whether the pricing document should be deleted automatically after 2 hours. Allowed value is either true or false. When it is set to false, the caller controls the lifecycle of the document and does the deletion. The default setting is true.",
            "in": "query",
            "name": "autoCleanup",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/doc.DocumentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/doc.DocumentResult"
                }
              }
            },
            "description": "Document calculated successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has incorrect syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred during creation of pricing document."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          },
          "507": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The database reached the critical storage level which prevented the pricing document creation."
          }
        },
        "summary": "Create pricing document",
        "tags": [
          "Documents"
        ]
      }
    },
    "/api/v1/pricing/documents/{documentId}": {
      "delete": {
        "description": "Deletes the pricing document linked to the given identifier.",
        "operationId": "deleteDocument",
        "parameters": [
          {
            "description": "Identifier of the pricing document, must be a UUID.",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Pricing document is successfully deleted and there is no content to send in the response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has incorrect syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. User is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to delete the pricing document as the requested identifier does not match an existing pricing document."
          },
          "423": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Resource is locked."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception prevented the pricing document deletion."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or service is down because of maintenance activities, or contract ended."
          }
        },
        "summary": "Delete pricing document",
        "tags": [
          "Documents"
        ]
      },
      "get": {
        "description": "Retrieves a pricing document previously created, identified by the given documentId. This returns the document header data only. Request additional data by providing $select parameter.",
        "operationId": "getDocumentById",
        "parameters": [
          {
            "description": "Identifier of the pricing document, must be a UUID.",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Determines the required detail level of the request by providing one or more of the following values, separated by a comma:<br/> conditions (price elements at document level), items (the document data and the item structure), items-conditions (price elements at item level), items-conditions-scale (details of available pricing scales), items-conditions-successfulAccess (attributes of the determined condition records) , items-attributes (pricing attributes at item level), items-customerHierarchy (customer hierarchy information as provided at item level), items-variantKeyFactors (includes variant condition keys and factors as provided from the configuration), items-currencyConversions (include details of currency conversion happened across price elements), items-priceAgreements (include price agreements). <br> 'items' is a pre-requisite for further item specific details. $select=items-conditions, items-attributes, items-variantKeyFactors, items-customerHierarchy, items-priceAgreements would not return any specific details if not used in combination with 'items'.<br>'items-conditions' is a pre-requisite for further items-conditions specific details. <br>$select=items-conditions-scale would not return scale details if not used in combination with 'items-conditions'.<br>$select=items-conditions-successfulAccess would not return successful access attributes if not used in combination with 'items-conditions'.<br>$select=items-currencyConversions would not return required details if not used in combination with 'items' and 'items-conditions'. <br>If the parameter $select is omitted, the basic data of the document is retrieved.",
            "example": "conditions, items, items-conditions, items-conditions-scale, items-currencyConversions, items-attributes, items-variantKeyFactors, items-customerHierarchy, items-priceAgreements",
            "in": "query",
            "name": "$select",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If the Accept-Language header parameter is not provided or the provided language is not supported, language-dependent values will be returned in English if they are maintained. The supported languages are maintained in the customizing of the related backend system. Only the first element of a list of languages is considered. Languages can be specified in ISO format, with or without country code and/or script, or via the SAP language code (column LAISO in table T002). For example: you can specify the language portuguese from Portugal via the values pt-PT (ISO format) or 1P (LAISO). The mapping between ISO and LAISO is given by table T002X.",
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/doc.DocumentResultExtended"
                }
              }
            },
            "description": "Document is successfully retrieved."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has incorrect syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to retrieve pricing document for the requested identifier. It does not match an existing pricing document."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred during retrieval of pricing document."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get pricing document details",
        "tags": [
          "Documents"
        ]
      },
      "patch": {
        "description": "Updates a pricing document previously created, identified by the given documentId.",
        "operationId": "updateDocument",
        "parameters": [
          {
            "description": "Identifier of the pricing document, must be a UUID.",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifies the pricing document state to be updated. This value is obtained from the response header of preceding POST, PATCH, PUT, DELETE or GET request.",
            "example": "W/\"1\"",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Setting the values CONDITION_DETERMINATION, PRICE_CALCULATION, EXTENSIONS or TAXES_US for the header x-cps-trace in a request activates the corresponding trace categories for this request.  The corresponding trace categories must be set to 'On Request' in the Administration UI. Multiple comma-separated values can be set to activate multiple trace categories for the same request.  See https://help.sap.com/docs/variant-configuration-and-pricing/administration-guide-for-sap-variant-configuration-and-pricing/trace-for-pricing-service for more details.",
            "example": "CONDITION_DETERMINATION, PRICE_CALCULATION, EXTENSIONS, TAXES_US",
            "in": "header",
            "name": "x-cps-trace",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/doc.DocumentPatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/doc.DocumentResult"
                }
              }
            },
            "description": "Pricing document is successfully updated."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has incorrect syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. User is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to update pricing document. "
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Update is not complete. There is a conflict between the current state of the resource and a concurrent modification. "
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Precondition of the request header field evaluated to false."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Request has unprocessable instructions."
          },
          "423": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Resource is locked."
          },
          "428": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Missing Precondition."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception that prevented the pricing document update occurred"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          },
          "507": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Database reached the critical storage level which prevented the pricing document update."
          }
        },
        "summary": "Update pricing document",
        "tags": [
          "Documents"
        ]
      }
    },
    "/api/v1/pricing/documents/{documentId}/conditions": {
      "post": {
        "description": "Creates pricing document conditions for the provided input.",
        "operationId": "createConditions",
        "parameters": [
          {
            "description": "Identifier of the pricing document, must be a UUID.",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifies the pricing document state to be updated. This value is obtained from the response header of preceding POST, PATCH, PUT, DELETE or GET request.",
            "example": "W/\"2\"",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If the Accept-Language header parameter is not provided or the provided language is not supported, language-dependent values will be returned in English if they are maintained. The supported languages are maintained in the customizing of the related backend system. Only the first element of a list of languages is considered. Languages can be specified in ISO format, with or without country code and/or script, or via the SAP language code (column LAISO in table T002). For example: you can specify the language portuguese from Portugal via the values pt-PT (ISO format) or 1P (LAISO). The mapping between ISO and LAISO is given by table T002X.",
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Setting the values CONDITION_DETERMINATION, PRICE_CALCULATION, EXTENSIONS or TAXES_US for the header x-cps-trace in a request activates the corresponding trace categories for this request.  The corresponding trace categories must be set to 'On Request' in the Administration UI. Multiple comma-separated values can be set to activate multiple trace categories for the same request.  See https://help.sap.com/docs/variant-configuration-and-pricing/administration-guide-for-sap-variant-configuration-and-pricing/trace-for-pricing-service for more details.",
            "example": "CONDITION_DETERMINATION, PRICE_CALCULATION, EXTENSIONS, TAXES_US",
            "in": "header",
            "name": "x-cps-trace",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/doc.ConditionCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/doc.ConditionCreateResponse"
                }
              }
            },
            "description": "Conditions created successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. User is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to create conditions."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Precondition of the request header field evaluated to false."
          },
          "423": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Resource is locked."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred during creation of document conditions."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          },
          "507": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Database reached the critical storage level which prevented the pricing document update."
          }
        },
        "summary": "Create pricing document conditions",
        "tags": [
          "Documents"
        ]
      }
    },
    "/api/v1/pricing/documents/{documentId}/conditions/{conditionId}": {
      "delete": {
        "description": "Deletes the header condition that is identified by the given conditionId.",
        "operationId": "deleteCondition_1",
        "parameters": [
          {
            "description": "Identifier of the pricing document, must be a UUID.",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifier of the pricing condition, must be a UUID.",
            "in": "path",
            "name": "conditionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifies the pricing document state to be updated. This value is obtained from the response header of preceding POST, PATCH, PUT, DELETE or GET request.",
            "example": "W/\"2\"",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Setting the values CONDITION_DETERMINATION, PRICE_CALCULATION, EXTENSIONS or TAXES_US for the header x-cps-trace in a request activates the corresponding trace categories for this request.  The corresponding trace categories must be set to 'On Request' in the Administration UI. Multiple comma-separated values can be set to activate multiple trace categories for the same request.  See https://help.sap.com/docs/variant-configuration-and-pricing/administration-guide-for-sap-variant-configuration-and-pricing/trace-for-pricing-service for more details.",
            "example": "CONDITION_DETERMINATION, PRICE_CALCULATION, EXTENSIONS, TAXES_US",
            "in": "header",
            "name": "x-cps-trace",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Header condition deleted successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. User is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to delete the pricing header condition for the requested pricing header condition identifier."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Precondition of the request header field evaluated to false."
          },
          "423": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Resource is locked."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred during deletion of header conditions."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          },
          "507": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Database reached the critical storage level which prevented the condition update."
          }
        },
        "summary": "Delete pricing document condition",
        "tags": [
          "Documents"
        ]
      },
      "get": {
        "description": "Retrieves the pricing document condition details from the calculation result, identified by the given conditionId.",
        "operationId": "getDocumentCondition",
        "parameters": [
          {
            "description": "Identifier of the pricing document, must be a UUID.",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifier of the pricing condition, must be a UUID.",
            "in": "path",
            "name": "conditionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If the Accept-Language header parameter is not provided or the provided language is not supported, language-dependent values will be returned in English if they are maintained. The supported languages are maintained in the customizing of the related backend system. Only the first element of a list of languages is considered. Languages can be specified in ISO format, with or without country code and/or script, or via the SAP language code (column LAISO in table T002). For example: you can specify the language portuguese from Portugal via the values pt-PT (ISO format) or 1P (LAISO). The mapping between ISO and LAISO is given by table T002X.",
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/docu.Condition"
                }
              }
            },
            "description": "Document condition details are successfully retrieved."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. User is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to retrieve the document condition details from the pricing document for the requested identifiers."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred during retrieval of pricing document condition details."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get pricing document condition details",
        "tags": [
          "Documents"
        ]
      },
      "patch": {
        "description": "Updates pricing document condition for the provided input.",
        "operationId": "updateCondition_1",
        "parameters": [
          {
            "description": "Identifier of the pricing document, must be a UUID.",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifier of the pricing condition, must be a UUID.",
            "in": "path",
            "name": "conditionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifies the pricing document state to be updated. This value is obtained from the response header of preceding POST, PATCH, PUT, DELETE or GET request.",
            "example": "W/\"2\"",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If the Accept-Language header parameter is not provided or the provided language is not supported, language-dependent values will be returned in English if they are maintained. The supported languages are maintained in the customizing of the related backend system. Only the first element of a list of languages is considered. Languages can be specified in ISO format, with or without country code and/or script, or via the SAP language code (column LAISO in table T002). For example: you can specify the language portuguese from Portugal via the values pt-PT (ISO format) or 1P (LAISO). The mapping between ISO and LAISO is given by table T002X.",
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Setting the values CONDITION_DETERMINATION, PRICE_CALCULATION, EXTENSIONS or TAXES_US for the header x-cps-trace in a request activates the corresponding trace categories for this request.  The corresponding trace categories must be set to 'On Request' in the Administration UI. Multiple comma-separated values can be set to activate multiple trace categories for the same request.  See https://help.sap.com/docs/variant-configuration-and-pricing/administration-guide-for-sap-variant-configuration-and-pricing/trace-for-pricing-service for more details.",
            "example": "CONDITION_DETERMINATION, PRICE_CALCULATION, EXTENSIONS, TAXES_US",
            "in": "header",
            "name": "x-cps-trace",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/doc.ConditionUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/doc.ConditionUpdateResponse"
                }
              }
            },
            "description": "Condition updated successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. User is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to update conditions."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Precondition of the request header field evaluated to false."
          },
          "423": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Resource is locked."
          },
          "428": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Missing Precondition."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred during the update of document conditions."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          },
          "507": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Database reached the critical storage level which prevented the condition update."
          }
        },
        "summary": "Update the pricing document condition",
        "tags": [
          "Documents"
        ]
      }
    },
    "/api/v1/pricing/documents/{documentId}/copy": {
      "post": {
        "description": "Creates a copy of the pricing document without reprocessing by pricing engine. Item ids can be mapped to new ids during the copy.",
        "operationId": "copyDocument",
        "parameters": [
          {
            "description": "Set this parameter to control whether the pricing document should be deleted automatically after 2 hours. Allowed value is either true or false. When it is set to false, the caller controls the lifecycle of the document and does the deletion. The default setting is true.",
            "in": "query",
            "name": "autoCleanup",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Identifier of the pricing document, must be a UUID.",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/doc.DocumentCopyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/doc.DocumentResult"
                }
              }
            },
            "description": "Pricing document is successfully copied."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
[...]
