{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://sandbox.api.sap.com/cpservices/prodconf"
    },
    {
      "url": "https://{appname}.cfapps.{region}.hana.ondemand.com",
      "description": "Variant Configuration service REST endpoints",
      "variables": {
        "appname": {
          "default": "cpservices-product-configuration",
          "description": "The application name used while deploying the application on the SAP Business Technology Platform."
        },
        "region": {
          "enum": [
            "ap11",
            "ap20",
            "ap30",
            "eu10",
            "eu11",
            "eu20",
            "eu30",
            "us10",
            "us30",
            "in30"
          ],
          "default": "eu10",
          "description": "The region chosen while deploying the application on the SAP Business Technology Platform."
        },
        "identityzone": {
          "default": "tenant",
          "description": "The sub-account name from the service key."
        }
      }
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "info": {
    "description": "Use our variant configuration APIs to build applications that enable your sales teams, customers, and channel partners to configure and price your products and services accurately and efficiently.",
    "version": "v2",
    "title": "Variant Configuration Service"
  },
  "x-sap-shortText": "Let your customers configure your products interactively.",
  "externalDocs": {
    "description": "Development Guide",
    "url": "https://help.sap.com/viewer/f2b349b522ff40f0918e1e7ada320799/Cloud/en-US/7099a2f1b36c44b79df76f1306d93700.html"
  },
  "tags": [
    {
      "description": "Master Data APIs",
      "name": "Knowledgebases"
    },
    {
      "description": "Configuration APIs optimized for UI consumption",
      "name": "Configurations"
    },
    {
      "description": "Configuration APIs for data exchange",
      "name": "External Configurations"
    },
    {
      "description": "Provides different operations on HTTP session.",
      "name": "Sessions"
    },
    {
      "description": "Management of [Local Extensions](https://help.sap.com/docs/variant-configuration-and-pricing/extension-guide-for-sap-variant-configuration-and-pricing).",
      "name": "Local Extensions"
    }
  ],
  "paths": {
    "/api/localExtension/v1/functions": {
      "get": {
        "description": "This API allows the retrieval of a list of functions provided by the currently active local extensions. A token with dedicated scope is required to successfully access this API. For more details, please refer to the [Development Guide for SAP Variant Configuration and Pricing](https://help.sap.com/docs/variant-configuration-and-pricing/development-guide-for-sap-variant-configuration-and-pricing).",
        "operationId": "getLocalExtensions",
        "parameters": [
          {
            "description": "A flag that indicates whether to count the extensions or not",
            "in": "query",
            "name": "$count",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Pricing Service Functions": {
                    "description": "List of [functions](https://help.sap.com/docs/variant-configuration-and-pricing/extension-guide-for-sap-variant-configuration-and-pricing/function-names) provided by the Local Extensions of the Pricing Service",
                    "value": {
                      "count": 3,
                      "value": [
                        {
                          "id": "val_990_process_formula",
                          "executable": false,
                          "caching": false
                        },
                        {
                          "id": "val_990_collect_attributes",
                          "executable": false,
                          "caching": false
                        },
                        {
                          "id": "VAL_990",
                          "executable": true,
                          "caching": true
                        }
                      ]
                    }
                  },
                  "Variant Configuration Service Functions": {
                    "description": "List of [functions](https://help.sap.com/docs/variant-configuration-and-pricing/extension-guide-for-sap-variant-configuration-and-pricing/function-names) provided by the Local Extensions of the Variant Configuration Service",
                    "value": {
                      "count": 2,
                      "value": [
                        {
                          "id": "VALIDATE_INPUT",
                          "executable": false,
                          "caching": false
                        },
                        {
                          "id": "ZCPS_VF_BONUS_POINTS",
                          "executable": true,
                          "caching": false
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/localExtension.FunctionCollection"
                }
              }
            },
            "description": "List of local extension functions is successfully retrieved."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to retrieve a list of local extension functions."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred, that prevented the retrieval of a list of local extension functions."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get list of local extension functions",
        "tags": [
          "Local Extensions"
        ]
      }
    },
    "/api/localExtension/v1/functions/{functionId}": {
      "post": {
        "description": "This API allows the execution of functions deployed as Local Extensions. A token with dedicated scope is required to successfully access this API. For more details, please refer to the [Development Guide for SAP Variant Configuration and Pricing](https://help.sap.com/docs/variant-configuration-and-pricing/development-guide-for-sap-variant-configuration-and-pricing).",
        "operationId": "callLocalExtension",
        "parameters": [
          {
            "description": "Id of a function as returned by the Get list of local extension functions operation",
            "examples": {
              "functionId - Variant Configuration service": {
                "description": "Example for Configuration service extension",
                "value": "ZCPS_VF_BONUS_POINTS"
              },
              "functionId - Pricing service": {
                "description": "Example for Pricing service extension",
                "value": "VAL_990"
              }
            },
            "in": "path",
            "name": "functionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Setting the value EXTENSIONS for the header x-cps-trace in a request activates the extension trace for this request. The extension trace must be set to 'On Request' in the Administration UI. See https://help.sap.com/docs/variant-configuration-and-pricing/administration-guide-for-sap-variant-configuration-and-pricing/trace-for-configuration-service for more details.",
            "in": "header",
            "name": "x-cps-trace",
            "schema": {
              "type": "string",
              "example": "EXTENSIONS"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ext.ConfigurationUserExitInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Pricing response": {
                    "description": "Data returned by a [value formula](https://help.sap.com/docs/variant-configuration-and-pricing/extension-guide-for-sap-variant-configuration-and-pricing/local-extension?locale=en-US#pricing-extensions) implemented as Local Extensions and deployed to the Pricing Service",
                    "value": {
                      "result": null,
                      "message": null,
                      "item": null,
                      "condition": {
                        "statistical": null,
                        "inactiveFlag": "X",
                        "conditionRate": null
                      },
                      "extendedInput": null
                    }
                  },
                  "Variant Configuration response": {
                    "description": "Data returned by a [variant function](https://help.sap.com/docs/variant-configuration-and-pricing/extension-guide-for-sap-variant-configuration-and-pricing/local-extension?locale=en-US#variant-function) implemented as the Local Extensions and deployed to the Variant Configuration Service",
                    "value": {
                      "type": "vfun",
                      "vfunOutput": {
                        "result": true,
                        "fnArgs": [
                          {
                            "id": "CPS_BONUS_POINTS",
                            "type": "float",
                            "values": [
                              "1000"
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ext.ConfigurationUserExitOutput"
                }
              }
            },
            "description": "Local extension function successfully executed."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to execute a local extension functions."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred, that prevented the execution of local extension functions."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Execute a local extension function",
        "tags": [
          "Local Extensions"
        ]
      }
    },
    "/api/v2/configurations": {
      "post": {
        "description": "Creates an initial Configuration with default values for a given product and date. A suitable product model is used for Configuration creation based on the search criteria.",
        "operationId": "createConfiguration",
        "parameters": [
          {
            "description": "Set this parameter to control whether the Configuration should be deleted automatically after 2 hours. Allowed values are true or false. When it is set to false, the caller controls the lifecycle of the configuration and does the deletion. The default setting is true.",
            "in": "query",
            "name": "autoCleanup",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Request specific data by providing the $select query parameter with one or more of the following values, separated by comma:<br/> subItems,characteristicGroups,variantConditions,characteristics,possibleValues,values,context,source<br/> If $select query parameter is omitted, the full configuration results will be returned. <br/>$select=possibleValues or $select=values will not return anything if not used in combination with value 'characteristics'. <br/> Requested data for root item will always be returned. Omitting value 'subItems' will exclude subitems from the configuration results.",
            "example": "subItems,characteristicGroups,variantConditions,characteristics,possibleValues,values,context,source",
            "in": "query",
            "name": "$select",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Reduces the response size by excluding the characteristics based on their visibility from the response. Supported filter: characteristicVisible EQ true, characteristicVisible EQ false.",
            "example": "characteristicVisible EQ true",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If the Accept-Language header parameter is not provided or the provided language is not supported, conflict explanations will be returned in English if they are maintained. The supported languages are maintained in the customizing of the related backend system. Only the first element of a list of languages is considered. Languages can be specified in ISO format, with or without country code and/or script, or via the SAP language code (column LAISO in table T002). For example: you can specify the language portuguese from Portugal via the values pt-PT (ISO format) or 1P (LAISO). The mapping between ISO and LAISO is given by table T002X.",
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "description": "Setting the values CONFIGURATION_ENGINE, EXTENSIONS and/or DEPENDENCY_PROFILING for the header x-cps-trace in a request activates the corresponding trace categories for this request.  The corresponding trace categories must be set to 'On Request' in the Administration UI. Multiple comma-separated values can be set to activate multiple trace categories for the same request. See https://help.sap.com/docs/variant-configuration-and-pricing/administration-guide-for-sap-variant-configuration-and-pricing/trace-for-configuration-service for more details.",
            "in": "header",
            "name": "x-cps-trace",
            "schema": {
              "type": "string",
              "example": "CONFIGURATION_ENGINE,EXTENSIONS,DEPENDENCY_PROFILING"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cfg.CreateConfigInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cfg.Configuration"
                }
              }
            },
            "description": "Configuration is successfully created."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid. Product is not found."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to create Configuration as the Product is not found."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception that prevented the Configuration creation occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          },
          "507": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Database reached the critical storage level which prevented the Configuration creation occurred."
          }
        },
        "summary": "Create Configuration",
        "tags": [
          "Configurations"
        ]
      }
    },
    "/api/v2/configurations/{configurationId}": {
      "delete": {
        "description": "Deletes the Configuration bound with the given identifier from the session.",
        "operationId": "deleteConfigurationById",
        "parameters": [
          {
            "description": "Identifier of the Configuration, must be an UUID.",
            "in": "path",
            "name": "configurationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Configuration is successfully deleted and there is no content to send in the response body."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to delete Configuration as the requested identifier does not match an existing Configuration."
          },
          "423": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Resource is locked."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception that prevented the Configuration deletion occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Delete Configuration",
        "tags": [
          "Configurations"
        ]
      },
      "get": {
        "description": "Retrieves a Configuration previously created, identified by the given configurationId.",
        "operationId": "getConfigurationById",
        "parameters": [
          {
            "description": "Identifier of the Configuration, must be an UUID.",
            "in": "path",
            "name": "configurationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set this parameter to control how many conflicts to return. The default setting is -1, indicating that the number of conflicts in the response shall not be limited.",
            "in": "query",
            "name": "conflictsTop",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": -1,
              "minimum": -1
            }
          },
          {
            "description": "Request specific data by providing the $select query parameter with one or more of the following values, separated by comma:<br/> subItems,characteristicGroups,variantConditions,characteristics,possibleValues,values,context,source<br/> If $select query parameter is omitted, the full configuration results will be returned. <br/>$select=possibleValues or $select=values will not return anything if not used in combination with value 'characteristics'. <br/> Requested data for root item will always be returned. Omitting value 'subItems' will exclude subitems from the configuration results.",
            "example": "subItems,characteristicGroups,variantConditions,characteristics,possibleValues,values,context,source",
            "in": "query",
            "name": "$select",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Reduces the response size by excluding the characteristics based on their visibility from the response. Supported filter: characteristicVisible EQ true, characteristicVisible EQ false.",
            "example": "characteristicVisible EQ true",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If the Accept-Language header parameter is not provided or the provided language is not supported, conflict explanations will be returned in English if they are maintained. The supported languages are maintained in the customizing of the related backend system. Only the first element of a list of languages is considered. Languages can be specified in ISO format, with or without country code and/or script, or via the SAP language code (column LAISO in table T002). For example: you can specify the language portuguese from Portugal via the values pt-PT (ISO format) or 1P (LAISO). The mapping between ISO and LAISO is given by table T002X.",
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "description": "Setting the values CONFIGURATION_ENGINE, EXTENSIONS and/or DEPENDENCY_PROFILING for the header x-cps-trace in a request activates the corresponding trace categories for this request.  The corresponding trace categories must be set to 'On Request' in the Administration UI. Multiple comma-separated values can be set to activate multiple trace categories for the same request. See https://help.sap.com/docs/variant-configuration-and-pricing/administration-guide-for-sap-variant-configuration-and-pricing/trace-for-configuration-service for more details.",
            "in": "header",
            "name": "x-cps-trace",
            "schema": {
              "type": "string",
              "example": "CONFIGURATION_ENGINE,EXTENSIONS,DEPENDENCY_PROFILING"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cfg.Configuration"
                }
              }
            },
            "description": "Configuration is successfully retrieved."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to retrieve Configuration for the requested identifier. It does not match an existing configuration."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception that prevented the Configuration retrieval occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get Configuration",
        "tags": [
          "Configurations"
        ]
      },
      "patch": {
        "description": "Updates the configuration by overwriting the current context and the current source.<br><br>The configuration context is usually provided when creating a configuration and is used as input for reference characteristics on root item level. The context is always overwritten as a whole.<br>The configuration source is usually provided when creating a configuration and is overwritten as a whole. The source information cannot be deleted.<br>The context can be updated without changing the source (and vice versa), by not providing the source attribute or leaving the source data to be null. The same is true for the context: an empty list of context properties will delete the context, not providing the context or providing the context = null, will leave the context unchanged.",
        "operationId": "updateConfiguration",
        "parameters": [
          {
            "description": "Identifier of the Configuration, must be an UUID.",
            "in": "path",
            "name": "configurationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ETag value of the Configuration state to be updated. This value is obtained from the response header of preceding POST, PATCH or GET request.",
            "example": "W/\"1\"",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Setting the values CONFIGURATION_ENGINE, EXTENSIONS and/or DEPENDENCY_PROFILING for the header x-cps-trace in a request activates the corresponding trace categories for this request.  The corresponding trace categories must be set to 'On Request' in the Administration UI. Multiple comma-separated values can be set to activate multiple trace categories for the same request. See https://help.sap.com/docs/variant-configuration-and-pricing/administration-guide-for-sap-variant-configuration-and-pricing/trace-for-configuration-service for more details.",
            "in": "header",
            "name": "x-cps-trace",
            "schema": {
              "type": "string",
              "example": "CONFIGURATION_ENGINE,EXTENSIONS,DEPENDENCY_PROFILING"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cfg.PatchConfigInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Configuration updated successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to update configuration, configuration for given id not found. "
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Precondition of the request header field evaluated to be false."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Request has unprocessable instructions."
          },
          "423": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Resource is locked."
          },
          "428": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Missing Precondition."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Configuration update failed because of a server-side exception."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          },
          "507": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Database reached the critical storage level which prevented the Configuration update occurred."
          }
        },
        "summary": "Update Configuration",
        "tags": [
          "Configurations"
        ]
      }
    },
    "/api/v2/configurations/{configurationId}/items/{itemId}": {
      "get": {
        "description": "Retrieves an Item of a Configuration previously created, identified by the given itemId.",
        "operationId": "getItemById",
        "parameters": [
          {
            "description": "Identifier of the Configuration, must be an UUID.",
            "in": "path",
            "name": "configurationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifier of the Item. Must be an integer greater or equal to 1.",
            "example": 1,
            "in": "path",
            "name": "itemId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "Request additional data by providing $select parameter with one or more of the following values, separated by comma:<br/>\ncharacteristicGroups,variantConditions,characteristics,possibleValues,values. <br>\n<br/>If $select query parameter is omitted, the full item results of the requested itemId will be returned.<br>\n<br/>$select=possibleValues or $select=values will not return anything if not used in combination with value 'characteristics'.\n<br/>SubItems will not be returned as part of the requested itemId response. <br>\n",
            "example": "characteristicGroups,variantConditions,characteristics,possibleValues,values",
            "in": "query",
            "name": "$select",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Reduces the response size (and potentially, time required to compute PossibleValues) by excluding characteristics from the response.<br/>The following filter clauses are available:<ul><li>Group membership:<br> <pre>   characteristicGroup IN ['groupID1', ..., 'groupIDn']</pre><li>Visible flag:<br><pre>   characteristicVisible EQ true</pre><li>ReadOnly flag:<br><pre>   characteristicReadOnly EQ false</pre></ul>Filters can be combined with the AND operator. Each clause must appear at most once. The combined filter must be enclosed in parenthesis:<br/><pre>(characteristicGroup IN ['$general'] AND characteristicVisible EQ true AND characteristicReadOnly EQ true)</pre>",
            "example": "characteristicGroup IN ['$general']",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If the Accept-Language header parameter is not provided or the provided language is not supported, conflict explanations will be returned in English if they are maintained. The supported languages are maintained in the customizing of the related backend system. Only the first element of a list of languages is considered. Languages can be specified in ISO format, with or without country code and/or script, or via the SAP language code (column LAISO in table T002). For example: you can specify the language portuguese from Portugal via the values pt-PT (ISO format) or 1P (LAISO). The mapping between ISO and LAISO is given by table T002X.",
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "description": "Setting the values CONFIGURATION_ENGINE, EXTENSIONS and/or DEPENDENCY_PROFILING for the header x-cps-trace in a request activates the corresponding trace categories for this request.  The corresponding trace categories must be set to 'On Request' in the Administration UI. Multiple comma-separated values can be set to activate multiple trace categories for the same request. See https://help.sap.com/docs/variant-configuration-and-pricing/administration-guide-for-sap-variant-configuration-and-pricing/trace-for-configuration-service for more details.",
            "in": "header",
            "name": "x-cps-trace",
            "schema": {
              "type": "string",
              "example": "CONFIGURATION_ENGINE,EXTENSIONS,DEPENDENCY_PROFILING"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cfg.Item"
                }
              }
            },
            "description": "Item of a Configuration is successfully retrieved."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to retrieve Configuration for the requested identifier. It does not match an existing configuration."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception that prevented the Configuration retrieval occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get Item of a Configuration",
        "tags": [
          "Configurations"
        ]
      },
      "patch": {
        "description": "Updates the values of multiple characteristics of a given item in the given Configuration identified by itemId and configurationId. Multiple values of multiple characteristics can be set and unset within one request.",
        "operationId": "updateConfigurationOnItem",
        "parameters": [
          {
            "description": "Identifier of the Configuration, must be an UUID.",
            "in": "path",
            "name": "configurationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifier of the item (configurable product) whose attributes are to be changed. Must be an integer greater or equal to 1.",
            "example": 1,
            "in": "path",
            "name": "itemId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "ETag value of the Configuration state to be updated. This value is obtained from the response header of preceding POST, PATCH or GET request.",
            "example": "W/\"1\"",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Setting the values CONFIGURATION_ENGINE, EXTENSIONS and/or DEPENDENCY_PROFILING for the header x-cps-trace in a request activates the corresponding trace categories for this request.  The corresponding trace categories must be set to 'On Request' in the Administration UI. Multiple comma-separated values can be set to activate multiple trace categories for the same request. See https://help.sap.com/docs/variant-configuration-and-pricing/administration-guide-for-sap-variant-configuration-and-pricing/trace-for-configuration-service for more details.",
            "in": "header",
            "name": "x-cps-trace",
            "schema": {
              "type": "string",
              "example": "CONFIGURATION_ENGINE,EXTENSIONS,DEPENDENCY_PROFILING"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cfg.ItemInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Configuration is successfully updated."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid. Product is not found."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to update Configuration. "
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Update is not complete due to conflict with the current state of the resource due to concurrent modification."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Precondition of the request header field evaluated to false."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Request has unprocessable instructions."
          },
          "423": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Resource is locked."
          },
          "428": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Missing Precondition."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception that prevented the Configuration update occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          },
          "507": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Database reached the critical storage level which prevented the Configuration update occurred."
          }
        },
        "summary": "Update Configuration on Item",
        "tags": [
          "Configurations"
        ]
      }
    },
    "/api/v2/configurations/{configurationId}/items/{itemId}/characteristics": {
      "get": {
        "description": "Get characteristics identified by the provided configurationId, itemId and the filter on characteristicId.",
        "operationId": "getItemCharacteristics",
        "parameters": [
          {
            "description": "Identifier of the Configuration, must be an UUID.",
            "in": "path",
            "name": "configurationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifier of the item. Must be an integer greater or equal to 1.",
            "example": 1,
            "in": "path",
            "name": "itemId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "Specifies the list of characteristics to be retrieved.<br/>Usage:<pre>characteristicId IN ['characteristicID1', ..., 'characteristicIDn']</pre>",
            "example": "characteristicId IN ['COLOR']",
            "in": "query",
            "name": "$filter",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Setting the values CONFIGURATION_ENGINE, EXTENSIONS and/or DEPENDENCY_PROFILING for the header x-cps-trace in a request activates the corresponding trace categories for this request.  The corresponding trace categories must be set to 'On Request' in the Administration UI. Multiple comma-separated values can be set to activate multiple trace categories for the same request. See https://help.sap.com/docs/variant-configuration-and-pricing/administration-guide-for-sap-variant-configuration-and-pricing/trace-for-configuration-service for more details.",
            "in": "header",
            "name": "x-cps-trace",
            "schema": {
              "type": "string",
              "example": "CONFIGURATION_ENGINE,EXTENSIONS,DEPENDENCY_PROFILING"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cfg.ItemCharacteristics"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The requested configuration, item or characteristic was not found."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get one or more characteristics of an Item.",
        "tags": [
          "Configurations"
        ]
      }
    },
    "/api/v2/configurations/{configurationId}/items/{itemId}/characteristics/{characteristicId}": {
      "patch": {
        "description": "Update the values of a given characteristic in the Configuration, identified by the provided configurationId, itemId and characteristicId. Multiple values can be set and unset within one request.",
        "operationId": "updateConfigurationOnCharacteristic",
        "parameters": [
          {
            "description": "Identifier of the Configuration, must be an UUID.",
            "in": "path",
            "name": "configurationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifier of the item (configurable product) whose attributes are to be changed. Must be an integer greater or equal to 1.",
            "example": 1,
            "in": "path",
            "name": "itemId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "Identifier of the characteristic to be updated. It must contain only alphanumeric characters.",
            "example": "CPS_SPECIAL_REQ_BURGER",
            "in": "path",
            "name": "characteristicId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ETag value of the Configuration state to be updated. This value is obtained from the response header of preceding POST, PATCH or GET request.",
            "example": "W/\"1\"",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Setting the values CONFIGURATION_ENGINE, EXTENSIONS and/or DEPENDENCY_PROFILING for the header x-cps-trace in a request activates the corresponding trace categories for this request.  The corresponding trace categories must be set to 'On Request' in the Administration UI. Multiple comma-separated values can be set to activate multiple trace categories for the same request. See https://help.sap.com/docs/variant-configuration-and-pricing/administration-guide-for-sap-variant-configuration-and-pricing/trace-for-configuration-service for more details.",
            "in": "header",
            "name": "x-cps-trace",
            "schema": {
              "type": "string",
              "example": "CONFIGURATION_ENGINE,EXTENSIONS,DEPENDENCY_PROFILING"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cfg.CharacteristicInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Configuration is successfully updated."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid. Product is not found."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to update Configuration. "
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Update is not complete because there is a conflict with the currect state of the resource due to concurrent modification."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Precondition of the request header field evaluated to be false."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Request has unprocessable instructions."
          },
          "423": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Resource is locked."
          },
          "428": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Missing Precondition."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception that prevented the Configuration update occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          },
          "507": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Database reached the critical storage level which prevented the Configuration update occurred."
          }
        },
        "summary": "Update Configuration on Characteristic",
        "tags": [
          "Configurations"
        ]
      }
    },
    "/api/v2/configurations/{configurationId}/lock": {
      "patch": {
        "description": "Locks the configuration identified by the given configuration id. ",
        "operationId": "lockConfigurationById",
        "parameters": [
          {
            "description": "Identifier of the Configuration, must be an UUID.",
            "in": "path",
            "name": "configurationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ETag value of the Configuration state to be updated. This value is obtained from the response header of preceding POST, PATCH or GET request.",
            "example": "W/\"1\"",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cfg.LockInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Configuration locked successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to lock configuration, configuration for given id not found. "
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Precondition of the request header field evaluated to be false."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Request has unprocessable instructions."
          },
          "428": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Missing Precondition."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Configuration lock failed because of a server-side exception."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          },
          "507": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Database reached the critical storage level which prevented the Configuration update occurred."
          }
        },
        "summary": "Lock Configuration",
        "tags": [
          "Configurations"
        ]
      }
    },
    "/api/v2/configurations/{configurationId}/reset": {
      "post": {
        "description": "Reset an existing configuration identified by the provided configurationId to the initial values. The context, knowledgebase, autoCleanup setting are preserved.",
        "operationId": "resetConfigurationById",
        "parameters": [
          {
            "description": "Identifier of the Configuration, must be an UUID.",
            "in": "path",
            "name": "configurationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ETag value of the Configuration state to be updated. This value is obtained from the response header of preceding POST, PATCH or GET request.",
            "example": "W/\"1\"",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Setting the values CONFIGURATION_ENGINE, EXTENSIONS and/or DEPENDENCY_PROFILING for the header x-cps-trace in a request activates the corresponding trace categories for this request.  The corresponding trace categories must be set to 'On Request' in the Administration UI. Multiple comma-separated values can be set to activate multiple trace categories for the same request. See https://help.sap.com/docs/variant-configuration-and-pricing/administration-guide-for-sap-variant-configuration-and-pricing/trace-for-configuration-service for more details.",
            "in": "header",
            "name": "x-cps-trace",
            "schema": {
              "type": "string",
              "example": "CONFIGURATION_ENGINE,EXTENSIONS,DEPENDENCY_PROFILING"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Configuration is successfully reset."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid. Product is not found."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to reset Configuration for the given identifier. The identifier does not match an existing configuration."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Precondition of the request header field evaluated to be false."
          },
          "423": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Resource is locked."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception that prevented the Configuration reset occured."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          },
          "507": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Database reached the critical storage level which prevented the Configuration creation occurred."
          }
        },
        "summary": "Reset Configuration",
        "tags": [
          "Configurations"
        ]
      }
    },
    "/api/v2/externalConfigurations": {
      "get": {
        "description": "Retrieves header information of previously created configurations. They are sorted by the date of their creation in ascending order.",
        "operationId": "getStoredConfigurations",
        "parameters": [
          {
            "description": "When true, the response includes an attribute 'count' inline, containing the number of stored configurations after applying the filter operation. The default setting is false.",
            "in": "query",
            "name": "$count",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Reduces the search results by the given filter.<table border=\"solid\"> <th>Supported filter attributes</th> <th>Supported operators</th> <th>Supported values</th> <tr><td style=\"text-align: center; vertical-align: middle;\">sourceApplication</td><td style=\"text-align: center; vertical-align: middle;\">EQ or eq</td><td style=\"text-align: center; vertical-align: middle;\">Any alphanumeric value</td></tr> <tr><td style=\"text-align: center; vertical-align: middle;\">sourceType</td><td style=\"text-align: center; vertical-align: middle;\">EQ or eq</td><td style=\"text-align: center; vertical-align: middle;\">quote_item, cart_item, order_item, product, favorite, quote, cart, order</td></tr> <tr><td style=\"text-align: center; vertical-align: middle;\">sourceId</td><td style=\"text-align: center; vertical-align: middle;\">EQ or eq</td><td style=\"text-align: center; vertical-align: middle;\">Any alphanumeric value</td></tr> <tr><td style=\"text-align: center; vertical-align: middle;\">locked</td><td style=\"text-align: center; vertical-align: middle;\">EQ or eq</td><td style=\"text-align: center; vertical-align: middle;\">true or false</td></tr></table><br><br>Filters can be combined with AND operator. Each clause must appear at most once. The combined filter must be enclosed in parentheses. Note that if any one of the source attributes is null, then the other source attributes are implicitly treated null: (sourceType EQ 'cart' AND sourceId EQ null) is not a valid filter.<br>Here are some examples:<br /> <table border=\"solid\"> <tr><td style=\"text-align: center; vertical-align: middle;\">Single filter</td><td style=\"text-align: center; vertical-align: middle;\">sourceApplication EQ 'cpq'</td></tr> <tr><td style=\"text-align: center; vertical-align: middle;\">Combined filter</td><td style=\"text-align: center; vertical-align: middle;\">(sourceApplication EQ 'cpq' AND sourceType EQ 'quote_item' AND sourceId EQ '10' AND locked EQ true)</td></tr> <tr><td style=\"text-align: center; vertical-align: middle;\">To retrieve locked configurations</td><td style=\"text-align: center; vertical-align: middle;\">locked EQ true</td></tr> <tr><td style=\"text-align: center; vertical-align: middle;\">To retrieve stored configurations without source</td><td style=\"text-align: center; vertical-align: middle;\">sourceApplication EQ NULL</td></tr> <tr><td style=\"text-align: center; vertical-align: middle;\">To retrieve stored configurations that are not locked and do not have source</td><td style=\"text-align: center; vertical-align: middle;\">(locked EQ false AND sourceApplication EQ NULL)</td></tr> </table> <br />",
            "example": "(sourceApplication EQ 'cpq' AND sourceType EQ 'quote_item' AND sourceId EQ '10')",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies the maximum number of configurations to be returned in a single API call. By default, 5000 rows are returned. You can specify up to maximum 10000 rows using the $top parameter, but any value greater than 10000 will be ignored and the maximum value of 10000 will be used instead. The $top parameter is often paired with the $skip parameter to navigate through pages",
            "example": 5000,
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "description": "Specifies the number of configurations to skip. By default, no rows are skipped. Any value greater than or equal to the 'count' will skip all the rows. The 'count' represents number of configurations.",
            "example": 0,
            "in": "query",
            "name": "$skip",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalConfigurationHeadersResponse"
                }
              }
            },
            "description": "Stored configurations are successfully retrieved."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception that prevented the configurations retrieval occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get Stored Configurations",
        "tags": [
          "External Configurations"
        ]
      },
      "post": {
        "description": " Creates a new configuration from an existing configuration. The input configuration can be either provided in external format through the request payload, or it is copied from a persisted configuration and referred to by the URL parameter sourceConfigurationID.\r\nNote: If the response is limited to the header data by $select=header, then the runtime configuration is not loaded. But configuration rules are executed when $select parameter is omitted and with that runtime configuration data is requested (like possible values, characteristic facets).",
        "operationId": "loadExternalConfiguration",
        "parameters": [
          {
            "description": "Set this parameter to control whether the Configuration should be deleted automatically after 2 hours. Allowed values are true or false. When it is set to false, the caller controls the lifecycle of the configuration and does the deletion. The default setting is true.",
            "in": "query",
            "name": "autoCleanup",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Set this parameter to control how many conflicts to return. The default setting is -1, indicating that the number of conflicts in the response shall not be limited.",
            "in": "query",
            "name": "conflictsTop",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": -1,
              "minimum": -1
            }
          },
          {
            "description": "The value \"header\" causes the response to be limited to only the header data of the configuration. Header data of the configuration consists of configuration Id, used knowledge base and the statuses consistent and complete, as well as source and context. <br/><br/>Alternatively, you can request specific data by providing the $select query parameter with one or more of the following values, separated by a comma:<br/> subItems,characteristicGroups,variantConditions,characteristics,possibleValues,values,context,source<br/> If $select query parameter is omitted, the full configuration results will be returned. <br/>$select=possibleValues or $select=values will not return anything if not used in combination with value 'characteristics'. <br/> Requested data for root item will always be returned. Omitting value 'subItems' will exclude subitems from the configuration results.<br/>The value header and the list of query parameters are mutually exclusive and cannot be used together.",
            "example": "header",
            "in": "query",
            "name": "$select",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifier of the Configuration that has to be copied, must be an UUID. \n Note: External Configuration must not be provided in the payload. ",
            "in": "query",
            "name": "sourceConfigurationId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Reduces the response size by excluding the characteristics based on their visibility from the response. Supported filter: characteristicVisible EQ true, characteristicVisible EQ false.",
            "example": "characteristicVisible EQ true",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Setting the values CONFIGURATION_ENGINE, EXTENSIONS and/or DEPENDENCY_PROFILING for the header x-cps-trace in a request activates the corresponding trace categories for this request.  The corresponding trace categories must be set to 'On Request' in the Administration UI. Multiple comma-separated values can be set to activate multiple trace categories for the same request. See https://help.sap.com/docs/variant-configuration-and-pricing/administration-guide-for-sap-variant-configuration-and-pricing/trace-for-configuration-service for more details.",
            "in": "header",
            "name": "x-cps-trace",
            "schema": {
              "type": "string",
              "example": "CONFIGURATION_ENGINE,EXTENSIONS,DEPENDENCY_PROFILING"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cfg.ExternalConfiguration"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cfg.Configuration"
                }
              }
            },
            "description": "Configuration is successfully instantiated."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to instantiate Configuration."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception that prevented the External Configuration retrieval occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          },
          "507": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Database reached the critical storage level which prevented the loading of External Configuration occurred."
          }
        },
        "summary": "Load External Configuration",
        "tags": [
          "External Configurations"
        ]
      }
    },
    "/api/v2/externalConfigurations/{configurationId}": {
      "get": {
        "description": "Retrieves the external format of a Configuration, identified by the given configurationId, which was previously created.",
        "operationId": "getExternalConfigurationById",
        "parameters": [
          {
            "description": "Identifier of the Configuration, must be an UUID.",
            "in": "path",
            "name": "configurationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cfg.ExternalConfiguration"
                }
              }
            },
            "description": "External Configuration is successfully retrieved."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax for Configuration identifier or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to retrieve External Configuration for the requested identifier. It does not match an existing Configuration."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception that prevented the External Configuration retrieval occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get External Configuration",
        "tags": [
          "External Configurations"
        ]
      }
    },
    "/api/v2/externalConfigurations/{configurationId}/display": {
      "get": {
        "description": "Retrieves the external format of a Configuration with additional display information like characteristic name. The configuration is identified by the given configurationId, which was previously created.",
        "operationId": "getExternalConfigurationByIdForDisplay",
        "parameters": [
          {
            "description": "Identifier of the Configuration, must be an UUID.",
            "in": "path",
            "name": "configurationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Desired language for returned names of items, characteristics and characteristic values. If the Accept-Language header parameter is not provided or the provided language is not supported, the names will be returned in English if they are maintained. The supported languages are maintained in the customizing of the related backend system. Only the first element of a list of languages is considered. Languages can be specified in ISO format, with or without country code and/or script, or via the SAP language code (column LAISO in table T002). For example: you can specify the language portuguese from Portugal via the values pt-PT (ISO format) or 1P (LAISO). The mapping between ISO and LAISO is given by table T002X.",
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "type": "string",
              "example": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cfg.ExternalConfigurationDisplay"
                }
              }
            },
            "description": "External Configuration is successfully retrieved."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax for Configuration identifier or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to retrieve External Configuration for the requested identifier. It does not match an existing Configuration."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception that prevented the External Configuration retrieval occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The service is not available, please try again later. Possible reasons: the tenant provisioning has not been completed yet, or the service is down because of maintenance activities, or the contract ended."
          }
        },
        "summary": "Get External Configuration for Display",
        "tags": [
          "External Configurations"
        ]
      }
    },
    "/api/v2/kbdetermination": {
      "get": {
        "description": "Retrieves a list of knowledge bases (header data only). Possible search criteria are product ID, validity date, type and plant. Product type is defaulted to materials (MARA). Filters can be applied to further restrict the search results. ",
        "operationId": "findKnowledgebase",
        "parameters": [
          {
            "description": "Identifier of the product. It must contain a maximum of 40 characters (for example CPS_BURGER).",
            "example": "CPS_BURGER",
            "in": "query",
            "name": "productid",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 40,
              "minLength": 0
            }
          },
          {
            "description": "Returns only knowledge bases that are valid on the given date. The default setting is today's date (for example 2018-08-09).",
            "example": "2018-08-09",
            "in": "query",
            "name": "date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Reduces the search results by the given filter.<br>Supported filter attribute: changeDate, validFromDate, type, plant and bomApplication<br>Supported operator: 'is greater than or equal to' (ge or GE) for changeDate and validFromDate and 'equals' (eq or EQ) for type and plant.<br>Supported value: 'variantConfiguration or advancedVariantConfiguration or solutionConfiguration' for type attribute.<br><br>Filters can be combined with AND operator. Each clause must appear at most once. The combined filter must be enclosed in parentheses.<br><br><b>NOTE:</b> Filter plant is ignored, if the field is not part of the model.<br><br>Example for a single filter: changeDate GE '2018-05-14' or plant EQ '0001'.<br>Example for combined filters: (type EQ variantConfiguration AND validFromDate GE '2018-05-02') or (plant EQ '0001' AND bomApplication EQ 'SD01')",
            "example": "changeDate GE '2018-05-14'",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/kb.KBHeaderInfo"
                  }
                }
              }
            },
            "description": "Knowledge base headers are successfully retrieved."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "The request has malformed syntax or is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Unauthorized. Authentication for the user failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Forbidden. The user is not authorized to perform the operation on the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "Failed to retrieve knowledge base headers for requested filter criteria."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cps.ErrorResponse"
                }
              }
            },
            "description": "A server-side exception that prevented the knowledge base header retrieval occurred."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
[...]
